In [23]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import talib as ta
import numpy as np 
from talib import abstract
import pandas_datareader.data as web
from pandas_datareader import data,wb
import yfinance as yf
import mplfinance as fplt
import datetime as dt
from datetime import date, timedelta
import matplotlib.pyplot as plt
import seaborn as sns 
import math
import plotly.graph_objects as go
import plotly.express as px

Index update

In [24]:
index = '^GSPC'
sp500 = yf.download(tickers=stock,period='y',interval='15m')
df2 = pd.DataFrame(sp500)
sp500 = df2.to_csv('sp500.csv')
sp500 = pd.read_csv('sp500.csv')

[*********************100%***********************]  1 of 1 completed

In [30]:
sp = pd.DataFrame()

sp[s]=yf.download(index,period='y',interval='15m')['Adj Close']

[*********************100%***********************]  1 of 1 completed

Stock(s) Data

In [31]:
#stock=input("Enter a stock ticker symbol: ")
stock = input('Ticker Symbol: ').upper()
# 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo
# Retrieve stock data frame (df) from yfinance API at an interval of 1m 
df = yf.download(tickers=stock,period='y',interval='15m')
df2 = pd.DataFrame(df)
df2 = df2.to_csv('portfolio.csv')
df2 = pd.read_csv('portfolio.csv')

Ticker Symbol:  gme

[*********************100%***********************]  1 of 1 completed

In [32]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-04-28 09:30:00,18.920000,19.070000,18.879999,19.030001,19.030001,157232
2023-04-28 09:45:00,19.030001,19.290001,19.020000,19.174999,19.174999,132075
2023-04-28 10:00:00,19.160000,19.317801,19.129999,19.307800,19.307800,65751
2023-04-28 10:15:00,19.290001,19.450001,19.260000,19.450001,19.450001,60989
2023-04-28 10:30:00,19.440001,19.459999,19.170000,19.299999,19.299999,84181

In [33]:
sp.head()

                               C
Datetime
2023-04-28 09:30:00  4133.020020
2023-04-28 09:45:00  4136.609863
2023-04-28 10:00:00  4152.259766
2023-04-28 10:15:00  4158.240234
2023-04-28 10:30:00  4151.299805

In [34]:
sp.tail()

                               C
Datetime
2023-04-28 14:45:00  4158.899902
2023-04-28 15:00:00  4162.729980
2023-04-28 15:15:00  4160.359863
2023-04-28 15:30:00  4163.370117
2023-04-28 15:45:00  4169.399902